.time {
    text-align: center;
    padding-top: 34px;
    padding-bottom: 40px;
    background-image: url("/public/imagens/fundo.png");
}

.time h3 {
    display: inline-block;
    font-size: 40px;
    border-bottom: 4px solid;
    padding-bottom: 10px;
    font-family:serif;
}

.time .colaboradores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-top: 38px;
}