footer {
    display: flex;
    justify-content: space-between;
    background-color: #6278F7;
    background-position: center;
    align-items: center;
    padding: 80px;
}

footer .redes-sociais ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 160px;
}

footer .redes-sociais img {
    width: 32px;
    height: 32px;
}

footer p {
    color: #FFF;
    font-size: 20px;
    font-weight: normal;
}