.times {
    padding-top: 32px;
    text-align: center;
}

.times h1 {
    display: inline-block;
    color: #6278F7;
    font-size: 32px;
    border-bottom: 4px solid #6278F7;
    padding-bottom: 8px;
}